.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(170deg, rgba(242, 201, 76, 0.2) 50%, rgba(255, 255, 255) 50% 100%);
}

.btn{
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
}

