.App {
  width: 100vw;
  min-height: 100vh;
  /* background: linear-gradient(-10deg, rgba(242, 201, 76, 0.2) 50%, rgba(242, 153, 74, 0.2) 50%); */
  background-image: url('./assets/Vector\ 55.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.btn{
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
}

